# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version



# Verilog generation debug files
*.v.json

# Waveform dumps
*.vcd
*.gtkw

# Tests outputs
test/__traces__
test/__profiles__/*.json
pytestdebug.log
_coreblocks_regression.lock
_coreblocks_regression.counter
.hypothesis

# Documentation build
build/
docs/*.rst

# Synthesis
build/
benchmark.json

# Pcap files 

*.pcap

*.log

*.pcapng