[submodule "coreblocks"]
	path = coreblocks
	url = https://github.com/kuznia-rdzeni/coreblocks
[submodule "amaranth-stubs"]
	path = amaranth-stubs
	url = https://github.com/kuznia-rdzeni/amaranth-stubs
