transactron @ git+https://github.com/kuznia-rdzeni/transactron.git@414def461c58ec58b90813fface2a959146e1f82

pyright==1.1.322
flake8==7.0.0
black==24.4.2
pytest==8.0.0
pytest-xdist==3.5.0
parameterized==0.8.1
pre-commit==2.16.0

# missing transactron.testing deps
hypothesis==6.99.6
