transactron @ git+https://github.com/kuznia-rdzeni/transactron.git@6acb8036b346b618a1e7b41ab7d6f75e7491bdd6

amaranth==0.5.3
pyright==1.1.322
flake8==7.0.0
black==24.4.2
pytest==8.0.0
pytest-xdist==3.5.0
parameterized==0.8.1
pre-commit==2.16.0
scapy == 2.6.1
amaranth-yosys==0.40.0.0.post100
dataclasses-json==0.6.3
hypothesis==6.99.6
